[submodule "external/QF-ML"]
	path = external/QF-ML
	url = https://github.com/Sujan-Naik/QF-ML.git
	ignore = dirty
	branch = alpha
[submodule "external/edlib"]
	path = external/edlib
	url = https://github.com/Martinsos/edlib
[submodule "external/tree-sitter"]
	path = external/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "external/tree-sitter-markdown"]
	path = external/tree-sitter-markdown
	url = https://github.com/tree-sitter-grammars/tree-sitter-markdown.git
[submodule "external/lunasvg"]
	path = external/lunasvg
	url = https://github.com/sammycage/lunasvg.git
	dirty = true
[submodule "external/tree-sitter-dot"]
	path = external/tree-sitter-dot
	url = https://github.com/rydesun/tree-sitter-dot.git
	ignore = dirty
[submodule "external/tree-sitter-mermaid"]
	path = external/tree-sitter-mermaid
	url = https://github.com/monaqa/tree-sitter-mermaid.git
	ignore = dirty
[submodule "external/tree-sitter-plantuml"]
	path = external/tree-sitter-plantuml
	url = https://github.com/lyndsysimon/tree-sitter-plantuml.git
	ignore = dirty
[submodule "external/ozz-animation"]
	path = external/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
	ignore = dirty
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
	ignore = dirty